.header {
  display: flex;
  align-items: center;
  border: 1px solid #e0e7ef;
  margin: 20px 10px;
  background: #fff;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 20px #e7ebf2;
  }

  &.darkTheme {
    background: #000;
    span {
      color: #fff;
    }
  }

  img {
    padding: 10px;
  }
  span {
    display: block;
    font-size: 1em;
    padding: 5px;
    color: rgb(119, 119, 216);
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
}

.container {
  display: flex;
  width: 100%;

  &.darkTheme {
    .leftCol,
    .rightCol {
      h2 {
        color: #fff;
      }
    }
  }

  .leftCol {
    width: 50%;

    h2 {
      font-size: 1.5em;
      padding: 10px;
      color: rgb(211, 85, 35);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }

  .rightCol {
    width: 50%;

    h2 {
      font-size: 1.5em;
      padding: 10px;
      color: rgb(211, 85, 35);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
