.header {
  display: flex;
  align-items: center;
  border: 1px solid #e0e7ef;
  margin: 20px 10px;
  &:hover {
    box-shadow: 4px 4px 20px #e7ebf2;
  }
  background: #fff;
  &.darkTheme {
    background: #000;
    span {
      color: #fff;
    }
  }

  cursor: pointer;
  img {
    padding: 10px;
  }
  span {
    display: block;
    font-size: 1.5em;
    padding: 10px;
    color: rgb(119, 119, 216);
  }
}

.container {
  display: flex;
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  &.darkTheme {
    .leftCol,
    .rightCol {
      h2 {
        color: #fff;
      }
    }
  }
  .leftCol {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    h2 {
      font-size: 1.5em;
      padding: 10px;
      color: rgb(211, 85, 35);
    }
  }
  .rightCol {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    h2 {
      font-size: 1.5em;
      padding: 10px;
      color: rgb(211, 85, 35);
    }
  }
}
