.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e7ef;
  border-radius: 6px;
  margin: 10px 0px;

  &:hover {
    box-shadow: 4px 4px 20px #e7ebf2;
  }

  background: #fff;
  &.darkTheme {
    background: #000;
    span {
      color: #fff;
    }
  }

  cursor: pointer;
  img {
    padding: 10px;
  }
  span {
    display: block;
    font-size: 1em;
    padding: 15px;
    color: rgb(119, 119, 216);
  }
}
